header {
  background-color: #333;
  padding: 20px 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

header nav ul li {
  font-weight: 600;
  color: #fff;
}


/********** blogpage **********/
.blogpage, .formpage {
  width: 800px;
  margin: 50px auto;
}

.blog_sub {
  max-width: 800px;
}

.b_time {
  font-size: 15px;
  color: #888;
}

.b_category {
  color: #06c;
  border: 1px solid #06c;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 2px;
}


/********** formpage **********/
.f_title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}

.f_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.f_input label {
  display: inline-block;
  width: 150px;
}

.f_input {
  display: flex;
  margin-bottom: 20px; 
  flex-wrap: wrap;
}

.f_input_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_input input, .f_input textarea{
  display: inline-block;
  flex-wrap: wrap;
  width: 600px;
  padding: 10px 0;
  border: 1px solid rgb(209 213 219);
  border-radius: 5px;
}


.f_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.f_btn button {
  border-radius: 5px;
  padding: 10px ;
  margin: 0 20px;
  font-weight: 600;
}

.f_btn .f_send {
  background-color: #333;
  color: #fff;
}

.f_btn .f_clear {
  background-color: rgb(229 231 235);
}


.f_note_error {
  margin-top: 5px;
  margin-left: 160px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(185 28 28);  
}

.f_send,
.f_clear {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}